<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
		<h1>Welcome!</h1>
		<h2>Udacity NLP Exercise</h2>

		<div class="wrapper">
			<textarea
				name="inputText"
				id="texto"
				placeholder="Insert a link or a text"
			></textarea
			><br />
			<input
				id="submiss"
				type="submit"
				class="default"
				value="submit"
				onclick="Client.showResultBoard()"
			/>
			<table id="result"></table>
		</div>

		<script>
			// Check that service workers are supported
			if ("serviceWorker" in navigator) {
				// Use the window load event to keep the page load performant
				window.addEventListener("load", () => {
					navigator.serviceWorker.register("/service-worker.js")
				})
			}
		</script>
	</body>
</html>
